{% extends "layouts/main.html" %}
{% block title %}
online shoping
{% endblock title %}

{% block content %}
    

   <section class="bg-light py-4 my-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-3">
                  {{catagory_name}} products
                    
                </h4>
                <hr style="border-color: #b8bfc2;">
              </div>
             {%  for item in Product %} 
            <div class="col-md-3 col-lg-4" >
              <div class="card my-3">
                
                <a href="{% url 'products_details' catagory_name item.name%}">
                  <img src="{{item.product_image.url}}" class="card-image-top" style="height: 200px; width:100%; padding:10px ;" alt="categories">
              
                  <div class="card-body">
                    <h5 class="card-title text-primary">{{item.name}}</h5>
                  </a>
                 
                     <p class="card-text">
                        <span class="float-start old-price"><s class="old-price">Rs.{{item.original_price | stringformat:'d'}}</s></span>
                        <span class="float-end new-price">Rs.{{item.selling_price | stringformat:'d'}}</span>
                        
                    </p>
                
  
                </div>
              </div>
            </div>  
      
          {% endfor %}
        
        </div>
    </div>

   </section>

{% endblock content %}