<nav class="navbar navbar-expand-lg nav-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#"><i class="fa fa-cart-plus"> ShopKart</i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav  ms-auto">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}"><i class="fa fa-home"> Home</i></a>
          {% if request.user.is_authenticated %}
          <!-- <a class="nav-link" href="{% url 'login' %}"><i class="fa fa-users">{{request.user}}</i></a> -->
          <a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-users"> Logout</i></a>

          {% else %}

          <a class="nav-link" href=" {% url 'register' %}"><i class="fa fa-sign-in"> Register</i></a>
          <a class="nav-link" href="{% url 'login' %}"><i class="fa fa-users"> Login</i></a>
          {% endif %}

          <a class="nav-link" href="{% url 'collections' %}"><i class="fa fa-cubes"> collections</i></a>
          <a class="nav-link" href="{% url 'cart' %}"><i class="fa fa-shopping-cart"> Cart</i></a>
          <a class="nav-link" href="{% url 'fav_Viewpage' %}"><i class="fa fa-heart"> Favourite</i></a>


        </div>
      </div>                               
    </div>
  </nav>