*{
    margin: 0px;
    padding: 0px;
}
#fpage{
    
    height: 100vh;
    filter: brightness(.85);
    background-color:rgba(27, 88, 126, 0.5);
}

#bgcol{
    background-image:url(banner_image.jpg) ; 
    background-size: 100% 100%;

    
   
}




#nav{
    background-color: rgba(55, 127, 209, 0.5);
    display: flex;
    position: relative;
    padding: 30px;
    justify-content:flex-end;
    align-items: center;
    position: sticky;
    z-index: 1;
    top: 0px;
    

}

#mylogo{
    position: absolute;
    left: 30px;


}

#mylogo1{
    margin-left: 20px;
}

a{
    text-decoration: none;
    /* flex-direction: column; *
    display: flex;
    flex-direction:row;
    /* padding:40px; */
    margin-left: 30px;
    color: white;
    font-size: 17px;
    /* height: 10px; */
}

#text1{
    text-align: center;
    padding-top: 100px;
    color: white;
}
#text1 p{
    font-weight: bolder;
    font-size: 15px;
}



#head{
    font-weight: 900;
    font-size: 70px;
    padding-bottom: 30px;
}


#button1{
    background-color:rgb(243, 184, 33);
    margin-top: 10px;
    padding: 10px 40px;
    border-radius: 20px;
    margin-top: 40px;
    

}

#page2{
    background-color:rgb(43, 141, 202);
    filter: brightness(.95);
    position: relative;
    
}

#spaglog1{
    position: absolute;
    right: 50px;
    top: 100px;
    padding: 10px;

}

#spaglog2{
    position: absolute;
    top: 80px;
    left: 50PX;
    padding: 10px;

}

#text2 h1{

    font-size: 50px; 
    padding: 30px;
    color: white;
}



#text2{
    text-align: center;
    padding-top: 60px;
    color: white;
}

#spageimg{
    width: 100%;
}

.spage{
    padding: 60px;
}

#sp{
    display: flex;
    justify-content: center;
    
}
#sp1{
    display: flex;
    justify-content: center;
    
}
#sp2{
    display: flex;
    justify-content: center;
    
}

.p1{
    font-weight: bold;
    font-size: 30px;
    flex-grow: 1;
    color: white;

   
}

.p2{
    flex-grow: 1;
    color: white;




}

.p3{
    flex-grow: 1;
    margin-bottom: 40px;
    color: white;


}
#page3-col{
    background-image: url(dr_Jenny.jpg);
    background-size: 100% 100%;

}


#bgimg{
    background-color: rgba(199, 136, 18, 0.6);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:10vh 10vh 5vh 2vh 15vh 40vh 15vh;
    grid-template-areas: 
    "e e e"
    "h h h"
    "p1 p1 p1"
    "p2 p2 p2"
    "e1 e1 e1"
    "b1 b2 b3"
    "s s s";
}
#empty{
    grid-area: e;
}

#empty img{
    padding-left: 30px;
}

#tite{
    grid-area: h;
    font-size: 50px;
    font-weight: bolder;
    color: white;

}

#par1{
    grid-area: p1;
    color: white;

    
}

#par2{
    grid-area: p2;
    color: white;
 
}

#empty1{

    grid-area: e1;
}

.bar1{
    grid-area: b1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar1 span{
    font-size: 40px;
    text-align: center;
    font-weight:bolder;
    border-radius: 50%;
    border:8px solid white ;
    padding: 75px;
    color: white;

   
}

.bar2{
    grid-area: b2;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bar2 span{
    font-size: 40px;
    text-align: center;
    font-weight:bolder;
    border-radius: 50%;
    border:8px solid white ;
    padding: 75px;
    color: white;

   
}
.bar3{
    grid-area: b3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar3 span{
    font-size: 40px;
    text-align: center;
    font-weight:bolder;
    border-radius: 50%;
    border:8px solid white ;
    padding: 75px;
    color: white;

   
}

div span p{
    text-align: center;
    font-weight: 100;
    font-size: 23px;
}

#emplty2{
    grid-area: s;
}



#bgimg h1,p{
     display: grid;
     justify-content: center;
     align-items: center;
    
  }