{% extends "layouts/main.html" %}

{% block title %}
  Register Page
{% endblock title %}

  {% block content %}
    <div class="container" style="margin-top: 60px; min-height:600px ;">
      <div class="row">
        <div class="col-12">
          <h4 class="mb-3">Register Page</h4>
          <hr style="border-color: #b8bfc2;">
          {% include "inc/message.html" %}
          
        </div>
      </div>
      <section class="py-4 my-5">
        <div class="container">
          <div class="row">
            <div class="col-6">
              <form method="post" action="">
                {% csrf_token %}
                <!-- we must put this because  we passing the data by this token  -->
               
                <div class="mb-4">
                  <label for="">USER NAME</label>
                  {{form.username}}
                  {% if form.errors.username %}
                    <label for="" class="text-danger">{{form.errors.username}}</label>
                  {% endif %}
                </div>

                <div class="mb-4">
                  <label for="">USER EMAIL</label>
                  {{form.email}}
                  {% if form.errors.email %}
                    <label for="" class="text-danger">{{form.errors.email}}</label>
                  {% endif %}
                </div>

                <div class="mb-4">
                  <label for="">PASSWORD</label>
                  {{form.password1}}
                  {% if form.errors.password1 %}
                    <label for="" class="text-danger">{{form.errors.password1}}</label>
                  {% endif %}
                </div>

                <div class="mb-4">
                  <label for="">CONFIRM PASSWORD</label>
                  {{form.password2}}
                  {% if form.errors.password2 %}
                    <label for="" class="text-danger">{{form.errors.password2}}</label>
                  {% endif %}
                </div>
                <button type="submit" class="btn btn-primary">Register</button>

              </form>
              <p class="my-2">Already user ?<a href="{% url 'login' %}">Login Now</a></p>
            </div>
          </div>
        </div>
      </section>
    </div>

    
  {% endblock %}
